.animation{
    background-repeat: no-repeat;
    background-size: cover;
}


.animationContainer .item:nth-child(odd){
    top: 0px;
    left: 0;
    animation-name: TopToBottom;
}
.animationContainer .item:nth-child(even){
    top: 128px;
    left: 0;
    animation-name: BottomToTop;
}

.item{
    color: white;
    height: 400px;
    position: relative;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@media (max-width:768px) {
    .item{
        animation-name: none !important;
        top: 0 !important;
        height: auto !important;
    }
}

@keyframes TopToBottom {
    from{
        top: 0px;
    }
    to{
        top: 128px;
    }
}
@keyframes BottomToTop {
    from{
        top: 128px;
    }
    to{
        top: 0px;
    }
}