
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-white{
    color: white;
}
.color2{
    color: #E7D619;
}
.bg-color2{
    background-color: #E7D619;
}

.color3{
    color: #0B316D;
}
.bg-color3{
    background-color: #0B316D;
}